header{ /* formatação do cabeçalho */

    padding: 30px 30px 20px 30px;
    color: white;
    background-image: url(https://wallpaperaccess.com/full/2170265.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;                /* atrás do conteúdo */
    
}

header::before {
    content: "";
    position: absolute;
    inset: 0; /* top, right, bottom, left = 0 */
    background-color: rgba(0, 0, 0, 0.3); /* controla a transparência */
    z-index: -1;
}

nav > a{ /* ancora dentro do nav */
    color: white;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 7px;

}

nav > a:hover{ /* passar mouse na ancora decora underline */

    text-decoration: underline ;

}

body{ /* cor(body) fundo da pagina */

    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
    
}

       
h1{ /* titulo nv1 */

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 35px;
}

#h1{ /* titulo nv1 id */

    background-color: rgba(155, 167, 180, 0.493);
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.822);
    padding: 10px;
    margin: 35px;
}

h2{ /* titulo nv2 */

    text-align: center;
    padding: 15px;
    margin-bottom: 30px;

}

h3{ /* titulo nv3 */

    font-size: xx-large;
    margin-bottom: 55px;
    text-align: center;

}

h4{
    text-align: center;
}

p{ /* all paragrafos  */
    
    text-indent: 25px;
    font-size:large ;
    text-align: center;

}

span{
    color: blue;
}

.text-center{ /* centralizar textos */
    text-align: center;
}

img{ /* centralizar imagem */

    display: block;
    margin: auto;

}

main{ /* sessão principal */

    background-color: white;
    padding: 15px 20px;
    margin: 0px 10px;
    border-radius: 0px 0px 25px 25px;
}

article > p{
    font-size: 1.3em;
}

.article-brasil{ /* sessão noticias brasil */

    margin: auto;
    background-image: linear-gradient(to bottom, rgba(1, 170, 1, 0.562), yellow);
    border: 5px;
    border-radius: 8px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.808);
    padding: 18px 25px;
}

.article-full{ /* sessão noticias todas págínas */
    margin: auto;
    background: linear-gradient(to bottom, #f1f1f1, #e7e7e78c);
    border: 5px;
    border-radius: 8px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.808);
    padding: 25px 25px;
}



aside{ /* Conteudo relativo(presidêncaia) */

    font-size: x-large;
}


.img-noticia { /* Img Rio de Janeiro */

    display: block;
    width: 85%;         /* proporcional à tela */
    max-width: 1500px;
    min-width: 180px;
    height: auto;
    margin: auto;
    padding: 1px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
}

footer{ /* Rodapé powered by */
    
    color: black;
    text-align: end;
    padding: 8px 30px;
    margin: 0px;

}
